# Gitignore root
.DS_Store
.vscode/
*.log

# Backend
backend/.env
backend/venv/
backend/__pycache__/
backend/*.pyc

# Frontend
frontend/node_modules/
frontend/.next/
frontend/.env.local
frontend/out/
